In [121]:
import pandas as pd

In [156]:
suppliers = pd.read_csv("suppliers.csv")
suppliers["T_ITEM"] = suppliers["T_ITEM"].str.strip()
suppliers_names = pd.read_csv("suppliers_names.csv")

suppliers = suppliers.merge(suppliers_names, how="left", right_on="suplier_id", left_on="T_OTBP")
suppliers["T_OTBP"] = suppliers["T_OTBP"].str.strip()

In [177]:
suppliers_from_sourcing = pd.read_excel("supps_from_sourcing.xlsx", 
                                        usecols=['SupplierCode', 'HyperionCode','PurchaseOrga',
                                                'OriginERPName','OriginERPCode'],
                                       dtype={'OriginERPCode':str, "OriginERPName":str})
suppliers_from_sourcing
mask01 = suppliers_from_sourcing["HyperionCode"] == "KPOL"
mask02 = suppliers_from_sourcing["OriginERPName"] == "240"
suppliers_from_sourcing = suppliers_from_sourcing[mask01]
suppliers_from_sourcing

       SupplierCode HyperionCode PurchaseOrga OriginERPName OriginERPCode
941       SUP000140         KPOL         KPOL           205        100254
942       SUP000140         KPOL         KPOL           240        100254
1044      SUP000157         KPOL         KPOL           205        316164
1045      SUP000157         KPOL         KPOL           240        316164
1046      SUP000157         KPOL         KPOL            ln        316164
...             ...          ...          ...           ...           ...
218232    SUP193835         KPOL         KPOL           NaN           NaN
218265    SUP193907         KPOL         KPOL           NaN           NaN
218268    SUP193912         KPOL         KPOL           240     SUP193912
218284    SUP193982         KPOL         KPOL           NaN           NaN
218335    SUP194113         KPOL         KPOL           NaN           NaN

[6257 rows x 5 columns]

In [174]:
file9 = pd.ExcelWriter("supps.xlsx")
suppliers_from_sourcing.to_excel(file9, index=False)
file9.close()

In [179]:
suppliers_from_sourcing_test = suppliers_from_sourcing.copy()
mask03 = suppliers_from_sourcing_test["OriginERPCode"] == "110286"
suppliers_from_sourcing_test = suppliers_from_sourcing_test[mask03]
suppliers_from_sourcing_test

      SupplierCode HyperionCode PurchaseOrga OriginERPName OriginERPCode
70206    SUP023449         KPOL         KPOL           205        110286
70207    SUP023449         KPOL         KPOL           240        110286

In [161]:
suppliers_merged = suppliers.merge(suppliers_from_sourcing, how="left", left_on="suplier_id", right_on="OriginERPCode")
suppliers_merged

,T_ITEM,T_KITM,T_OTBP,suplier_id,supplier_name,SupplierCode,HyperionCode,PurchaseOrga,OriginERPName,OriginERPCode
0,64154018,1,110286,110286,PMC Hydraulika Sp. Zo.o.,NaN,NaN,NaN,NaN,NaN
1,LNOB_JP110849,1,110347,110347,ZUWA-Zumpe GmbH,NaN,NaN,NaN,NaN,NaN
2,1718010327,1,100506,100506,ZF CV Distribution Sweden AB,NaN,NaN,NaN,NaN,NaN
3,90144,1,111581,111581,ENERPOL s.c. B.B.K Żabkiewicz,NaN,NaN,NaN,NaN,NaN
4,59505995,1,100415,100415,TITRY ry,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
136429,459-8497,1,SUP182582,SUP182582,Malmar Group BV,NaN,NaN,NaN,NaN,NaN
136430,459-8498,1,SUP182582,SUP182582,Malmar Group BV,NaN,NaN,NaN,NaN,NaN
136431,459-8499,1,SUP182582,SUP182582,Malmar Group BV,NaN,NaN,NaN,NaN,NaN
136432,459-8500,1,SUP182582,SUP182582,Malmar Group BV,NaN,NaN,NaN,NaN,NaN
136433,454-9739,1,SUP182582,SUP182582,Malmar Group BV,NaN,NaN,NaN,NaN,NaN

# loading item purchase

In [125]:
item_purchase = pd.read_csv("item_purchase_240.csv", usecols=["T_ITEM", "item_puchase_price", "currency"])
item_purchase["T_ITEM"] = item_purchase["T_ITEM"].str.strip()
currency_rates = pd.read_excel("currency_rates.xlsx")
item_purchase_with_currency = item_purchase.merge(currency_rates, how="left", on="currency")
item_purchase_with_currency["price_in_eur"] = item_purchase_with_currency["item_puchase_price"] / item_purchase_with_currency["rate"]
item_purchase_with_currency.drop(columns=["currency", "item_puchase_price", "rate"], inplace=True)
test1 = item_purchase_with_currency["T_ITEM"] == "A60683.0100"
item_purchase_with_currency[test1]

Empty DataFrame
Columns: [T_ITEM, price_in_eur]
Index: []

# loading michine list

In [126]:
products = pd.read_excel("items_division.xlsx")
mask = products["Business Unit"] == 240
products = products[mask]
products["Machine"] = products["Machine"].str.strip()

# loading bom table

In [127]:
boms = pd.read_csv("all_boms_240.csv")
boms["main_item"] = boms["main_item"].str.strip()
boms["subitem"] = boms["subitem"].str.strip()
mask12 = ~boms["subitem"].isin(products["Machine"])
mask15 = ~boms["main_item"].isin(item_purchase["T_ITEM"])

subs_without_price = boms.copy()
test4 = ~subs_without_price["subitem"].isin(item_purchase_with_currency["T_ITEM"])
test5 = ~subs_without_price["subitem"].isin(subs_without_price["main_item"])
subs_without_price = subs_without_price[test4 & test5]
mask16 = ~boms["subitem"].isin(subs_without_price["subitem"])

items_zero_quant = boms.copy()
test6 = items_zero_quant["quantity"] == 0
items_zero_quant = items_zero_quant[test6]
mask17 = ~boms["subitem"].isin(items_zero_quant["subitem"])

weird_item = boms.copy()
test7 = weird_item["subitem"] == "-"
weird_item = weird_item[test7]
mask18 = ~boms["subitem"].isin(weird_item["subitem"])

boms = boms[mask12 & mask15 & mask16 & mask17 & mask18]
boms_with_price = boms.merge(item_purchase_with_currency, how="left", left_on="subitem", right_on="T_ITEM")
boms_with_price.drop(columns="T_ITEM", inplace=True)
test3 = boms_with_price["subitem"] == "A25469.9999"
boms_with_price[test3]

Empty DataFrame
Columns: [main_item, subitem, quantity, price_in_eur]
Index: []

# getting a df with main items only

In [128]:
mask6 = ~boms_with_price["main_item"].isin(boms_with_price["subitem"])
main_items_only = boms_with_price.copy()
main_items_only = main_items_only[mask6]
mask9 = main_items_only["main_item"].isin(products["Machine"])
main_items_only = main_items_only[mask9]
main_items_only

           main_item      subitem  quantity  price_in_eur
4526     C00100.6350  A62419.1200      -1.0           NaN
8912     C00100.6351  A69248.2100      -1.0           NaN
14347    C00100.6050  A60645.0200      -1.0           NaN
15655         Z99711  922010.0022      12.0      0.546352
15814        Z99752V  922297.0184      12.0  13069.870000
...              ...          ...       ...           ...
6038325      Z99690V  A63254.0100       1.0           NaN
6040916  C00260.0170  A55286.2600       1.0           NaN
6046498       Z99765  A59992.0100       1.0      2.430000
6047048       Z99765  A71343.0200       1.0           NaN
6056151       Z99730  A70050.0500       1.0   6637.290000

[2741 rows x 4 columns]

# getting a df with main items and sub in main

In [129]:
main_items_and_sub_in_main = main_items_only.merge(boms_with_price, how="left", left_on="subitem",
                                                   right_on="main_item")
main_items_and_sub_in_main.reset_index(inplace=True, drop=True)
main_items_and_sub_in_main.drop("main_item_y", inplace=True, axis=1)
print(main_items_and_sub_in_main.columns)
main_items_and_sub_in_main.columns = ["machine", "level1", "level1_q", "level1_price", "level2", "level2_q", "level2_price"]
main_items_and_sub_in_main.insert(loc = 4, column="level1_price_calc", value=main_items_and_sub_in_main["level1_q"] * main_items_and_sub_in_main["level1_price"])

main_items_and_sub_in_main.insert(loc = 8, column="level2_q_calc", value=main_items_and_sub_in_main["level1_q"] * main_items_and_sub_in_main["level2_q"])
main_items_and_sub_in_main["level2_price_calc"] = main_items_and_sub_in_main["level2_q_calc"] * main_items_and_sub_in_main["level2_price"]
main_items_and_sub_in_main

Index(['main_item_x', 'subitem_x', 'quantity_x', 'price_in_eur_x', 'subitem_y',
       'quantity_y', 'price_in_eur_y'],
      dtype='object')

,machine,level1,level1_q,level1_price,level1_price_calc,level2,level2_q,level2_price,level2_q_calc,level2_price_calc
0,C00100.6350,A62419.1200,-1.0,NaN,NaN,923284.0002,12.0,0.820000,-12.0,-9.840000
1,C00100.6350,A62419.1200,-1.0,NaN,NaN,5443,4.0,1.310000,-4.0,-5.240000
2,C00100.6350,A62419.1200,-1.0,NaN,NaN,A40395.0100,4.0,1.239866,-4.0,-4.959464
3,C00100.6350,A62419.1200,-1.0,NaN,NaN,920728.236,4.0,0.380000,-4.0,-1.520000
4,C00100.6350,A62419.1200,-1.0,NaN,NaN,99122,4.0,0.207100,-4.0,-0.828400
...,...,...,...,...,...,...,...,...,...,...
31822,Z99765,A71343.0200,1.0,NaN,NaN,98150,2.0,0.021600,2.0,0.043200
31823,Z99765,A71343.0200,1.0,NaN,NaN,A71213.0200,1.0,354.270000,1.0,354.270000
31824,Z99765,A71343.0200,1.0,NaN,NaN,922564.0006,1.0,0.079200,1.0,0.079200
31825,Z99765,A71343.0200,1.0,NaN,NaN,3090,1.0,0.102000,1.0,0.102000
31826,Z99730,A70050.0500,1.0,6637.29,6637.29,NaN,NaN,NaN,NaN,NaN

# changing column names

In [130]:

test_cols = ['machine', 'level1', 'level1_price', 'level1_q', 'level1_price_calc',
       'level2', 'level2_q', 'level2_price', 'level2_q_calc',
       'level2_price_calc']
main_items_and_sub_in_main = main_items_and_sub_in_main[test_cols]
main_items_and_sub_in_main

,machine,level1,level1_price,level1_q,level1_price_calc,level2,level2_q,level2_price,level2_q_calc,level2_price_calc
0,C00100.6350,A62419.1200,NaN,-1.0,NaN,923284.0002,12.0,0.820000,-12.0,-9.840000
1,C00100.6350,A62419.1200,NaN,-1.0,NaN,5443,4.0,1.310000,-4.0,-5.240000
2,C00100.6350,A62419.1200,NaN,-1.0,NaN,A40395.0100,4.0,1.239866,-4.0,-4.959464
3,C00100.6350,A62419.1200,NaN,-1.0,NaN,920728.236,4.0,0.380000,-4.0,-1.520000
4,C00100.6350,A62419.1200,NaN,-1.0,NaN,99122,4.0,0.207100,-4.0,-0.828400
...,...,...,...,...,...,...,...,...,...,...
31822,Z99765,A71343.0200,NaN,1.0,NaN,98150,2.0,0.021600,2.0,0.043200
31823,Z99765,A71343.0200,NaN,1.0,NaN,A71213.0200,1.0,354.270000,1.0,354.270000
31824,Z99765,A71343.0200,NaN,1.0,NaN,922564.0006,1.0,0.079200,1.0,0.079200
31825,Z99765,A71343.0200,NaN,1.0,NaN,3090,1.0,0.102000,1.0,0.102000
31826,Z99730,A70050.0500,6637.29,1.0,6637.29,NaN,NaN,NaN,NaN,NaN

# Getting all levels

In [131]:
level2 = main_items_and_sub_in_main.copy()
last_level = False
level = 2
while last_level == False:

    x = "level"
    z = "_q"
    p = "_price"
    y = str(level)
    column_name_lvl = x+y
    mask1 = level2[column_name_lvl].isin(boms["main_item"])
    mask2 = level2[column_name_lvl].isin(item_purchase["T_ITEM"])
    test = level2.copy()
    test2 = level2.copy()
    test = test[mask1]
    test2 = test2[mask2]


    if test.empty:
        last_level = True

    else:
        y = str(level)
        column_name_lvl = x + y
        column_name_q = x+y+z
        column_name_p = x+y+p
        level2 = level2.merge(boms_with_price, how="left", left_on=column_name_lvl, right_on="main_item")
        level += 1
        y = str(level)
        t = str(level-1)
        calc = "_calc"
        column_name_lvl = x + y
        column_name_q = x+y+z
        column_name_p = x + y + p
        column_name_q_t = x+t+z+calc
        

        level2.drop("main_item", inplace=True, axis=1)
        level2.rename(columns={"subitem": column_name_lvl, "quantity": column_name_q, "price_in_eur":column_name_p}, inplace=True)
        level2[column_name_q+calc] = level2[column_name_q_t] * level2[column_name_q]
        level2[column_name_p+calc] = level2[column_name_q+calc] * level2[column_name_p]
        level2.drop(columns=[column_name_q], inplace=True)

level2.rename(columns={"level1_q":"level1_q_calc"},inplace=True)
level2.drop(columns=["level2_q"], inplace=True)
level2.columns

Index(['machine', 'level1', 'level1_price', 'level1_q_calc',
       'level1_price_calc', 'level2', 'level2_price', 'level2_q_calc',
       'level2_price_calc', 'level3', 'level3_price', 'level3_q_calc',
       'level3_price_calc', 'level4', 'level4_price', 'level4_q_calc',
       'level4_price_calc', 'level5', 'level5_price', 'level5_q_calc',
       'level5_price_calc', 'level6', 'level6_price', 'level6_q_calc',
       'level6_price_calc'],
      dtype='object')

# Grouping by machines

In [132]:
machines = level2.groupby(by="machine")
machines_names = machines.groups.keys()

# Getting final boms

In [133]:
level_list = []
list_of_boms = []
levels = ()
for machine in machines_names:
    
    list_of_dfs = []
    dict = {}
    col_num = 0
    cost_item = machines.get_group(machine)
    cost_item1 = cost_item.copy()
    #cost_item1.dropna(how="all", axis=1, inplace=True)
    print(machine)
    for x in cost_item1.columns:
        level_num = x[5]
        dict[col_num] = level_num
        col_num +=1
        
    levels = set(dict.values())
    levels = sorted(levels)
    levels.remove("n")
    
    
    for level in levels:
        list_of_cols = []
        for key, value in dict.items():
            if value == level:
                list_of_cols.append(key)
        list_of_cols.insert(0,0)
        #print(list_of_cols)
        df = cost_item1.iloc[:,list_of_cols].copy()
        #print(df.columns)
        df.columns = ['machine', 'item', 'price', 'quant',
           'price*quant']
        list_of_dfs.append(df)
        list_of_dfs
    bom_concat = pd.concat(list_of_dfs)
    list_of_boms.append(bom_concat)
print(list_of_boms)
boms_ready = pd.concat(list_of_boms)
boms_ready.dropna(subset='price*quant', inplace=True)

C00100.2705
C00100.2726
C00100.6001
C00100.6004
C00100.6013
C00100.6040
C00100.6050
C00100.6140
C00100.6141
C00100.6142
C00100.6143
C00100.6201
C00100.6206
C00100.6209
C00100.6350
C00100.6351
C00100.6410
C00100.6413
C00100.6704
C00260.0170
Z99104
Z99690V
Z99691V
Z99711
Z99715
Z99721
Z99730
Z99752V
Z99765
Z99811
Z99842
Z99848
Z99911
[           machine         item  price  quant  price*quant
224    C00100.2705  921797.0017  112.2    2.0        224.4
415    C00100.2705  A60140.1100    NaN    1.0          NaN
1253   C00100.2705  A65464.0100    NaN    1.0          NaN
1254   C00100.2705  A65464.0100    NaN    1.0          NaN
1255   C00100.2705  A65464.0100    NaN    1.0          NaN
...            ...          ...    ...    ...          ...
46693  C00100.2705          NaN    NaN    NaN          NaN
46701  C00100.2705          NaN    NaN    NaN          NaN
46702  C00100.2705          NaN    NaN    NaN          NaN
46703  C00100.2705          NaN    NaN    NaN          NaN
46704  C00100.2705          NaN    NaN    NaN          NaN

[10842 rows x 5 columns],            machine         item  price  quant  price*quant
1715   C00100.2726  A64967.0100    NaN   -1.0          NaN
1716   C00100.2726  A64967.0100    NaN   -1.0          NaN
1717   C00100.2726  A64967.0100    NaN   -1.0          NaN
1718   C00100.2726  A64967.0100    NaN   -1.0          NaN
1719   C00100.2726  A64967.0100    NaN   -1.0          NaN
...            ...          ...    ...    ...          ...
48152  C00100.2726          NaN    NaN    NaN          NaN
48153  C00100.2726          NaN    NaN    NaN          NaN
48154  C00100.2726          NaN    NaN    NaN          NaN
48155  C00100.2726          NaN    NaN    NaN          NaN
48156  C00100.2726          NaN    NaN    NaN          NaN

[3810 rows x 5 columns],            machine         item      price  quant  price*quant
241    C00100.6001  A57563.2400  17.060947    2.0    34.121894
322    C00100.6001  A64441.0800        NaN    4.0          NaN
323    C00100.6001  A64441.0800        NaN    4.0          NaN
324    C00100.6001  A64441.0800        NaN    4.0          NaN
342    C00100.6001  A57563.2400  17.060947    4.0    68.243788
...            ...          ...        ...    ...          ...
48570  C00100.6001          NaN        NaN    NaN          NaN
48571  C00100.6001          NaN        NaN    NaN          NaN
48572  C00100.6001          NaN        NaN    NaN          NaN
48573  C00100.6001          NaN        NaN    NaN          NaN
48574  C00100.6001          NaN        NaN    NaN          NaN

[21036 rows x 5 columns],            machine         item        price  quant  price*quant
257    C00100.6004  A64441.0800          NaN    2.0          NaN
258    C00100.6004  A64441.0800          NaN    2.0          NaN
259    C00100.6004  A64441.0800          NaN    2.0          NaN
1802   C00100.6004  923973.0021  3724.180000    2.0  7448.360000
1900   C00100.6004  A57563.2400    17.060947    4.0    68.243788
...            ...          ...          ...    ...          ...
47415  C00100.6004          NaN          NaN    NaN          NaN
47416  C00100.6004          NaN          NaN    NaN          NaN
47417  C00100.6004          NaN          NaN    NaN          NaN
47418  C00100.6004          NaN          NaN    NaN          NaN
48519  C00100.6004          NaN          NaN    NaN          NaN

[21690 rows x 5 columns],            machine         item   price  quant  price*quant
208    C00100.6013  921797.0017   112.2    2.0        224.4
243    C00100.6013  924536.0002  2947.8    2.0       5895.6
1207   C00100.6013  A60694.0200     NaN    1.0          NaN
1208   C00100.6013  A60694.0200     NaN    1.0          NaN
1209   C00100.6013  A60694.0200     NaN    1.0          NaN
...            ...          ...     ...    ...          ...
48368  C00100.6013          NaN     NaN    NaN          NaN
48369  C00100.6013          NaN     NaN    NaN          NaN
48370  C00100.6013          NaN     NaN    NaN          NaN
48371  C00100.6013          NaN     NaN    NaN          NaN
48575  C00100.6013          NaN     NaN    NaN          NaN

[24858 rows x 5 columns],            machine         item  price  quant  price*quant
349    C00100.6040  A21004.6300    NaN    6.0          NaN
350    C00100.6040  A21004.6300    NaN    6.0          NaN
351    C00100.6040  A21004.6300    NaN    6.0          NaN
352    C00100.6040  A21004.6300    NaN    6.0          NaN
353    C00100.6040  A21004.6300    NaN    6.0          NaN
...            ...          ...    ...    ...          ...
47605  C00100.6040          NaN    NaN    NaN          NaN
47606  C00100.6040          NaN    NaN    NaN          NaN
47607  C00100.6040          NaN    NaN    NaN          NaN
47608  C00100.6040          NaN    NaN    NaN          NaN
47609  C00100.6040          NaN    NaN    NaN          NaN

[16050 rows x 5 columns],            machine         item  price  quant  price*quant
131    C00100.6050  A60645.0200    NaN   -1.0          NaN
132    C00100.6050  A60645.0200    NaN   -1.0          NaN
133    C00100.6050  A60645.0200    NaN   -1.0          NaN
134    C00100.6050  A60645.0200    NaN   -1.0          NaN
135    C00100.6050  A60645.0200    NaN   -1.0          NaN
...            ...          ...    ...    ...          ...
44696  C00100.6050          NaN    NaN    NaN          NaN
44697  C00100.6050          NaN    NaN    NaN          NaN
44698  C00100.6050          NaN    NaN    NaN          NaN
44699  C00100.6050          NaN    NaN    NaN          NaN
44700  C00100.6050          NaN    NaN    NaN          NaN

[2136 rows x 5 columns],            machine         item  price  quant  price*quant
13555  C00100.6140  A71060.1400    NaN    1.0          NaN
13556  C00100.6140  A71060.1400    NaN    1.0          NaN
13557  C00100.6140  A71060.1400    NaN    1.0          NaN
13558  C00100.6140  A71060.1400    NaN    1.0          NaN
13559  C00100.6140  A71060.1400    NaN    1.0          NaN
...            ...          ...    ...    ...          ...
13859  C00100.6140          NaN    NaN    NaN          NaN
13860  C00100.6140          NaN    NaN    NaN          NaN
13861  C00100.6140          NaN    NaN    NaN          NaN
13862  C00100.6140          NaN    NaN    NaN          NaN
13863  C00100.6140          NaN    NaN    NaN          NaN

[1854 rows x 5 columns],           machine         item  price  quant  price*quant
4161  C00100.6141  A71060.1300    NaN    1.0          NaN
4162  C00100.6141  A71060.1300    NaN    1.0          NaN
4163  C00100.6141  A71060.1300    NaN    1.0          NaN
4164  C00100.6141  A71060.1300    NaN    1.0          NaN
4165  C00100.6141  A71060.1300    NaN    1.0          NaN
...           ...          ...    ...    ...          ...
4477  C00100.6141          NaN    NaN    NaN          NaN
4478  C00100.6141          NaN    NaN    NaN          NaN
4479  C00100.6141          NaN    NaN    NaN          NaN
4480  C00100.6141          NaN    NaN    NaN          NaN
4481  C00100.6141          NaN    NaN    NaN          NaN

[1926 rows x 5 columns],            machine         item  price  quant  price*quant
30671  C00100.6142  A71060.1200    NaN    1.0          NaN
30672  C00100.6142  A71060.1200    NaN    1.0          NaN
30673  C00100.6142  A71060.1200    NaN    1.0          NaN
30674  C00100.6142  A71060.1200    NaN    1.0          NaN
30675  C00100.6142  A71060.1200    NaN    1.0          NaN
...            ...          ...    ...    ...          ...
31116  C00100.6142          NaN    NaN    NaN          NaN
31117  C00100.6142          NaN    NaN    NaN          NaN
31118  C00100.6142          NaN    NaN    NaN          NaN
31119  C00100.6142          NaN    NaN    NaN          NaN
31120  C00100.6142          NaN    NaN    NaN          NaN

[2700 rows x 5 columns],            machine         item  price  quant  price*quant
27123  C00100.6143  A71060.1100    NaN    1.0          NaN
27124  C00100.6143  A71060.1100    NaN    1.0          NaN
27125  C00100.6143  A71060.1100    NaN    1.0          NaN
27126  C00100.6143  A71060.1100    NaN    1.0          NaN
27127  C00100.6143  A71060.1100    NaN    1.0          NaN
...            ...          ...    ...    ...          ...
27576  C00100.6143          NaN    NaN    NaN          NaN
27577  C00100.6143          NaN    NaN    NaN          NaN
27578  C00100.6143          NaN    NaN    NaN          NaN
27579  C00100.6143          NaN    NaN    NaN          NaN
27580  C00100.6143          NaN    NaN    NaN          NaN

[2748 rows x 5 columns],            machine         item  price  quant  price*quant
176    C00100.6201  A57593.0500    NaN   -1.0          NaN
177    C00100.6201  A57593.0500    NaN   -1.0          NaN
178    C00100.6201  A57593.0500    NaN   -1.0          NaN
179    C00100.6201  A57593.0500    NaN   -1.0          NaN
180    C00100.6201  A57593.0500    NaN   -1.0          NaN
...            ...          ...    ...    ...          ...
44940  C00100.6201          NaN    NaN    NaN          NaN
44941  C00100.6201          NaN    NaN    NaN          NaN
44942  C00100.6201          NaN    NaN    NaN          NaN
44943  C00100.6201          NaN    NaN    NaN          NaN
44944  C00100.6201          NaN    NaN    NaN          NaN

[4992 rows x 5 columns],            machine         item  price  quant  price*quant
2080   C00100.6206  A62453.0200    NaN    1.0          NaN
2081   C00100.6206  A62453.0200    NaN    1.0          NaN
2082   C00100.6206  A62453.0200    NaN    1.0          NaN
2083   C00100.6206  A62453.0200    NaN    1.0          NaN
2084   C00100.6206  A62453.0200    NaN    1.0          NaN
...            ...          ...    ...    ...          ...
45276  C00100.6206          NaN    NaN    NaN          NaN
45277  C00100.6206          NaN    NaN    NaN          NaN
45278  C00100.6206          NaN    NaN    NaN          NaN
45279  C00100.6206          NaN    NaN    NaN          NaN
46201  C00100.6206          NaN    NaN    NaN          NaN

[3756 rows x 5 columns],            machine         item  price  quant  price*quant
355    C00100.6209  A61657.0100    NaN    1.0          NaN
356    C00100.6209  A61657.0100    NaN    1.0          NaN
357    C00100.6209  A61657.0100    NaN    1.0          NaN
358    C00100.6209  A61657.0100    NaN    1.0          NaN
359    C00100.6209  A61657.0100    NaN    1.0          NaN
...            ...          ...    ...    ...          ...
46956  C00100.6209          NaN    NaN    NaN          NaN
46957  C00100.6209          NaN    NaN    NaN          NaN
46958  C00100.6209          NaN    NaN    NaN          NaN
46959  C00100.6209          NaN    NaN    NaN          NaN
46960  C00100.6209          NaN    NaN    NaN          NaN

[5568 rows x 5 columns],            machine         item  price  quant  price*quant
0      C00100.6350  A62419.1200    NaN   -1.0          NaN
1      C00100.6350  A62419.1200    NaN   -1.0          NaN
2      C00100.6350  A62419.1200    NaN   -1.0          NaN
3      C00100.6350  A62419.1200    NaN   -1.0          NaN
4      C00100.6350  A62419.1200    NaN   -1.0          NaN
...            ...          ...    ...    ...          ...
41861  C00100.6350          NaN    NaN    NaN          NaN
41862  C00100.6350          NaN    NaN    NaN          NaN
41863  C00100.6350          NaN    NaN    NaN          NaN
41864  C00100.6350          NaN    NaN    NaN          NaN
41865  C00100.6350          NaN    NaN    NaN          NaN

[1938 rows x 5 columns],            machine         item  price  quant  price*quant
65     C00100.6351  A69248.2100    NaN   -1.0          NaN
66     C00100.6351  A69248.2100    NaN   -1.0          NaN
67     C00100.6351  A69248.2100    NaN   -1.0          NaN
68     C00100.6351  A69248.2100    NaN   -1.0          NaN
69     C00100.6351  A69248.2100    NaN   -1.0          NaN
...            ...          ...    ...    ...          ...
37815  C00100.6351          NaN    NaN    NaN          NaN
37816  C00100.6351          NaN    NaN    NaN          NaN
37817  C00100.6351          NaN    NaN    NaN          NaN
37818  C00100.6351          NaN    NaN    NaN          NaN
38154  C00100.6351          NaN    NaN    NaN          NaN

[1944 rows x 5 columns],            machine         item  price  quant  price*quant
7726   C00100.6410  A55285.3700    NaN    1.0          NaN
7727   C00100.6410  A55285.3700    NaN    1.0          NaN
7728   C00100.6410  A55285.3700    NaN    1.0          NaN
7729   C00100.6410  A55285.3700    NaN    1.0          NaN
7730   C00100.6410  A55285.3700    NaN    1.0          NaN
...            ...          ...    ...    ...          ...
48009  C00100.6410          NaN    NaN    NaN          NaN
48010  C00100.6410          NaN    NaN    NaN          NaN
48011  C00100.6410          NaN    NaN    NaN          NaN
48012  C00100.6410          NaN    NaN    NaN          NaN
48013  C00100.6410          NaN    NaN    NaN          NaN

[2256 rows x 5 columns],            machine         item  price  quant  price*quant
5350   C00100.6413  A68646.0200    NaN    1.0          NaN
5351   C00100.6413  A68646.0200    NaN    1.0          NaN
5352   C00100.6413  A68646.0200    NaN    1.0          NaN
5353   C00100.6413  A68646.0200    NaN    1.0          NaN
11544  C00100.6413  A61650.0100    NaN    1.0          NaN
...            ...          ...    ...    ...          ...
41086  C00100.6413          NaN    NaN    NaN          NaN
41087  C00100.6413          NaN    NaN    NaN          NaN
41088  C00100.6413          NaN    NaN    NaN          NaN
41089  C00100.6413          NaN    NaN    NaN          NaN
41636  C00100.6413          NaN    NaN    NaN          NaN

[2610 rows x 5 columns],            machine         item  price  quant  price*quant
6898   C00100.6704  C00100.7010    NaN    1.0          NaN
6899   C00100.6704  C00100.7010    NaN    1.0          NaN
6900   C00100.6704  C00100.7010    NaN    1.0          NaN
6901   C00100.6704  C00100.7010    NaN    1.0          NaN
6902   C00100.6704  C00100.7010    NaN    1.0          NaN
...            ...          ...    ...    ...          ...
47791  C00100.6704          NaN    NaN    NaN          NaN
47792  C00100.6704          NaN    NaN    NaN          NaN
47793  C00100.6704          NaN    NaN    NaN          NaN
47794  C00100.6704          NaN    NaN    NaN          NaN
47795  C00100.6704          NaN    NaN    NaN          NaN

[9312 rows x 5 columns],            machine         item  price  quant  price*quant
4083   C00260.0170  A62349.2700    NaN    1.0          NaN
4084   C00260.0170  A62349.2700    NaN    1.0          NaN
4085   C00260.0170  A62349.2700    NaN    1.0          NaN
4086   C00260.0170  A62349.2700    NaN    1.0          NaN
4087   C00260.0170  A62349.2700    NaN    1.0          NaN
...            ...          ...    ...    ...          ...
48681  C00260.0170          NaN    NaN    NaN          NaN
48682  C00260.0170          NaN    NaN    NaN          NaN
48683  C00260.0170          NaN    NaN    NaN          NaN
48684  C00260.0170          NaN    NaN    NaN          NaN
48685  C00260.0170          NaN    NaN    NaN          NaN

[2340 rows x 5 columns],       machine         item    price  quant  price*quant
298    Z99104  A59967.0249     7.50    2.0        15.00
313    Z99104  A54605.1800  1715.82    2.0      3431.64
321    Z99104  A51796.0800    40.99    3.0       122.97
340    Z99104  A63336.1000      NaN    4.0          NaN
341    Z99104  A63336.1000      NaN    4.0          NaN
...       ...          ...      ...    ...          ...
48166  Z99104          NaN      NaN    NaN          NaN
48167  Z99104          NaN      NaN    NaN          NaN
48168  Z99104          NaN      NaN    NaN          NaN
48169  Z99104          NaN      NaN    NaN          NaN
48170  Z99104          NaN      NaN    NaN          NaN

[11904 rows x 5 columns],        machine         item    price  quant  price*quant
225    Z99690V  A59967.0232     1.59    2.0         3.18
232    Z99690V  924628.0001  1053.76    2.0      2107.52
234    Z99690V  139627.0026   302.05    2.0       604.10
255    Z99690V  921733.0026    32.26    2.0        64.52
272    Z99690V  A59122.0400      NaN    2.0          NaN
...        ...          ...      ...    ...          ...
48658  Z99690V          NaN      NaN    NaN          NaN
48659  Z99690V          NaN      NaN    NaN          NaN
48660  Z99690V          NaN      NaN    NaN          NaN
48661  Z99690V          NaN      NaN    NaN          NaN
48662  Z99690V          NaN      NaN    NaN          NaN

[9912 rows x 5 columns],        machine         item        price  quant  price*quant
209    Z99691V  A59122.0400          NaN    2.0          NaN
210    Z99691V  A59122.0400          NaN    2.0          NaN
227    Z99691V  A54434.1100   396.090000    2.0   792.180000
262    Z99691V  138634.0200  4029.080014    2.0  8058.160028
274    Z99691V  A63335.0400          NaN    2.0          NaN
...        ...          ...          ...    ...          ...
48022  Z99691V          NaN          NaN    NaN          NaN
48023  Z99691V          NaN          NaN    NaN          NaN
48024  Z99691V          NaN          NaN    NaN          NaN
48025  Z99691V          NaN          NaN    NaN          NaN
48026  Z99691V          NaN          NaN    NaN          NaN

[10920 rows x 5 columns],       machine         item       price  quant  price*quant
174    Z99711  922010.0022    0.546352   12.0     6.556221
230    Z99711  A47406.0104  308.751038    2.0   617.502077
231    Z99711  921733.0019   52.432147    2.0   104.864293
235    Z99711  A59967.0131    0.170000    2.0     0.340000
256    Z99711  A42390.0038  114.950000    2.0   229.900000
...       ...          ...         ...    ...          ...
48220  Z99711          NaN         NaN    NaN          NaN
48221  Z99711          NaN         NaN    NaN          NaN
48222  Z99711          NaN         NaN    NaN          NaN
48223  Z99711          NaN         NaN    NaN          NaN
48230  Z99711          NaN         NaN    NaN          NaN

[11856 rows x 5 columns],       machine         item     price  quant  price*quant
233    Z99715  A42015.0032  131.7100    2.0     263.4200
236    Z99715  A15813.0900   24.8052    2.0      49.6104
244    Z99715  A29033.0200       NaN    2.0          NaN
245    Z99715  A29033.0200       NaN    2.0          NaN
246    Z99715  A29033.0200       NaN    2.0          NaN
...       ...          ...       ...    ...          ...
48515  Z99715          NaN       NaN    NaN          NaN
48516  Z99715          NaN       NaN    NaN          NaN
48517  Z99715          NaN       NaN    NaN          NaN
48518  Z99715          NaN       NaN    NaN          NaN
48591  Z99715          NaN       NaN    NaN          NaN

[12030 rows x 5 columns],       machine         item       price  quant  price*quant
229    Z99721  923966.0001  252.809306    2.0   505.618611
240    Z99721  921733.0026   32.260000    2.0    64.520000
320    Z99721  158686.0032  258.020000    2.0   516.040000
966    Z99721  J07026.0100  267.543617    1.0   267.543617
1128   Z99721  A55376.0800         NaN    1.0          NaN
...       ...          ...         ...    ...          ...
48535  Z99721          NaN         NaN    NaN          NaN
48536  Z99721          NaN         NaN    NaN          NaN
48537  Z99721          NaN         NaN    NaN          NaN
48538  Z99721          NaN         NaN    NaN          NaN
48539  Z99721          NaN         NaN    NaN          NaN

[11586 rows x 5 columns],       machine         item  price  quant  price*quant
228    Z99730  921733.0026  32.26    2.0        64.52
279    Z99730  A54350.0100    NaN    2.0          NaN
280    Z99730  A54350.0100    NaN    2.0          NaN
281    Z99730  A54350.0100    NaN    2.0          NaN
282    Z99730  A54350.0100    NaN    2.0          NaN
...       ...          ...    ...    ...          ...
48409  Z99730          NaN    NaN    NaN          NaN
48410  Z99730          NaN    NaN    NaN          NaN

# Merging with suppliers

In [180]:
boms_suppliers = boms_ready.merge(suppliers, how="left", left_on="item", right_on="T_ITEM")

boms_suppliers = boms_suppliers.merge(suppliers_from_sourcing, how="left", 
                                     left_on="suplier_id", right_on="OriginERPCode")
boms_suppliers

,machine,item,price,quant,price*quant,T_ITEM,T_KITM,T_OTBP,suplier_id,supplier_name,SupplierCode,HyperionCode,PurchaseOrga,OriginERPName,OriginERPCode
0,C00100.2705,921797.0017,112.200000,2.0,224.400000,921797.0017,1,110202,110202,Exide Technologies S.A.,SUP023376,KPOL,KPOL,205,110202
1,C00100.2705,921797.0017,112.200000,2.0,224.400000,921797.0017,1,110202,110202,Exide Technologies S.A.,SUP023376,KPOL,KPOL,240,110202
2,C00100.2705,921797.0017,112.200000,2.0,224.400000,921797.0017,1,110202,110202,Exide Technologies S.A.,SUP023376,KPOL,KPOL,ln,110202
3,C00100.2705,A64876.0100,10263.190000,1.0,10263.190000,A64876.0100,1,104209,104209,Fortaco Sp. z.o.o.,SUP023120,KPOL,KPOL,205,104209
4,C00100.2705,A64876.0100,10263.190000,1.0,10263.190000,A64876.0100,1,104209,104209,Fortaco Sp. z.o.o.,SUP023120,KPOL,KPOL,240,104209
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
161084,Z99911,920043.225,0.386400,8.0,3.091200,920043.225,1,318814,318814,Bufab Poland Sp. z o. o,SUP020313,KPOL,KPOL,205,318814
161085,Z99911,920043.225,0.386400,8.0,3.091200,920043.225,1,318814,318814,Bufab Poland Sp. z o. o,SUP020313,KPOL,KPOL,240,318814
161086,Z99911,A69220.0100,8.653642,2.0,17.307284,A69220.0100,1,319631,319631,GIPO Sp. z o.o.,SUP023517,KPOL,KPOL,240,319631
161087,Z99911,920043.225,0.386400,8.0,3.091200,920043.225,1,318814,318814,Bufab Poland Sp. z o. o,SUP020313,KPOL,KPOL,205,318814
161088,Z99911,920043.225,0.386400,8.0,3.091200,920043.225,1,318814,318814,Bufab Poland Sp. z o. o,SUP020313,KPOL,KPOL,240,318814

# Creating the excel file

In [181]:
file3 = pd.ExcelWriter("bom_final.xlsx")
boms_suppliers.to_excel(file3, index=False)
file3.close()